*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
scroll-behavior:smooth;
}

body{
background:#050816;
color:#fff;
}

header{
position:sticky;
top:0;
z-index:999;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;
background:rgba(5,8,22,.95);
backdrop-filter:blur(10px);
border-bottom:1px solid rgba(0,191,255,.2);
}

.logo{
font-size:26px;
font-weight:900;
background:linear-gradient(90deg,#00bfff,#8a2be2);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

nav{
display:flex;
gap:15px;
}

nav a{
text-decoration:none;
color:white;
font-weight:600;
}

.hero{
min-height:85vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:
linear-gradient(rgba(5,8,22,.75),rgba(5,8,22,.95)),
url('https://images.unsplash.com/photo-1542751371-adc38448a05e?w=1600');
background-size:cover;
background-position:center;
}

.hero h1{
font-size:42px;
margin-bottom:15px;
color:#00bfff;
}

.hero p{
max-width:700px;
font-size:18px;
margin-bottom:25px;
}

.btn{
padding:15px 35px;
border-radius:50px;
background:linear-gradient(90deg,#00bfff,#8a2be2);
text-decoration:none;
color:white;
font-weight:bold;
box-shadow:0 0 25px rgba(138,43,226,.4);
}

.games{
padding:60px 20px;
}

.games h2{
text-align:center;
margin-bottom:25px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}

.card{
background:linear-gradient(135deg,#111827,#1b2742);
border:1px solid rgba(0,191,255,.2);
border-radius:18px;
padding:30px 10px;
text-align:center;
font-weight:bold;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:12px;
padding:30px 20px;
}

.stat-card{
background:#111827;
border-radius:15px;
padding:20px;
text-align:center;
}

.stat-card h3{
color:#00bfff;
font-size:28px;
margin-bottom:10px;
}

.features{
padding:50px 20px;
}

.feature-box{
background:#111827;
padding:18px;
border-radius:15px;
margin-bottom:12px;
text-align:center;
}

footer{
background:#0b1025;
text-align:center;
padding:25px;
margin-top:30px;
}
